body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 24px;
  max-width: 70%;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 10px;
  border: 2px solid black;
  padding: 3px 10px;
  border-radius: 5px;
}

ul li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
ul li a:visited {
  color: purple;
}
ul li a:hover {
  color: red;
}
