body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  padding: 0 20px;
  border: 1px solid black;
}
.btn {
  height: 42px;
  width: 42px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
