.container {
  padding-top: 50px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.profile__image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid lightgray;
}

.profile__name {
  font-size: 24px;
  font-weight: 500;
}

.about {
  text-align: center;
  background-color: lightgray;
  padding: 50px 0;
  margin: 50px 0 0;
}
.about__title {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.about p {
  margin: 20px 0;
}
